<!DOCTYPE html>
<!--<html>
<head>
	<title></title>
	 Latest compiled and minified CSS 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	 jQuery library 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	 Latest compiled JavaScript 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	 /*for rating*/ 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 css 
	<link rel="stylesheet" href="css/laptop.css">
	
</head>
<body>-->
	<div class="body2">
		<!-- footer -->
		<div class="footer">
		<div class="container-fluid text-center">
			
				<div class="row">
					<div class="panel-default col-sm-4" >
						<div class="panel-heading">ABOUT US</div>
						<div class="panel-body fontcolor">
							<p>About 294Cart</p>
							<p>Sell on 294Cart</p>
							<p>Privacy Policy</p>
						</div>
					</div>
					<div class="panel-default col-sm-4">
						<div class="panel-heading">PAYMENT METHOD</div>
						<div class="panel-body">
							<p><img src="../public/images/visa.png" alt=""></p>
							<p><img src="../public/images/cod.png" alt=""></p>
							<p><img src="../public/images/mastercard.png" alt=""></p>
						</div>
					</div>
					<div class="panel-default col-sm-4">
						<div class="panel-heading">FOLLOW US</div>
						<div class="panel-body">
							<p><a href="https://www.facebook.com/294-CART-1675911755825648/?ref=aymt_homepage_panel"><img src="../public/images/fb.png" alt=""></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--</body>
</html>-->